@font-face {
  font-family: "Open Sans";
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "Open Sans Light";
  src: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

body {
  background-color: #ffcb74;
  padding: 0;
  margin: 0;
  /* font-size: 36pt; */
  /* font-size: 24pt; */
  font-family: 'Montserrat', sans-serif;
}

/* h1, h2 {
  font-family: 'Open Sans', sans-serif;
} */
h2 {
  color: #4f8a8b;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 15px;
}

.title-bar {
  /* font-size: 36pt; */
  /* font-size: 24pt; */
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.page-wrap {
  background-color: #f4f6ff;
  margin: 0;
  padding: 15px;
}

.buttons {
  /* font-size: 50pt; */
  font-size: 36pt;
  margin: 0 auto;
}

.radio {}

button {
  /* padding: 10px 60px; */
  /* padding: 60px 360px; */
  width: 80%;
  /* height: 100px; */
  height: 60px;
  background-color: #ea907a;
  display: block;
  margin: 10px auto;
  /* font-size: 36pt; */
  font-size: 15pt;
  text-align: left;
  padding: 0 0 0 30px;
  font-family: 'Montserrat';
}

.radio {
  width: 80%;
  margin: 0 auto 50px;
}

/* input {
  width: 100px;
} */
input[type="radio"] {
  -ms-transform: scale(3.5);
  -webkit-transform: scale(3.5);
  transform: scale(3.5);
}

label>input[type="radio"] {
  display: none;
}

label>input[type="radio"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: unset;
  width: 1.5rem;
  /* 2.5 for larger pages */
  /*change these to change the size of it*/
  height: 1.5rem;
  /* margin-right: 0.3rem; */
  /* margin-top: 5px; */
  margin-right: 10px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

label>input[type="radio"]:checked+*::before {
  background: radial-gradient(#4f8a8b 0%, #4f8a8b 40%, transparent 50%, transparent);
  /* border-color: teal; */
  /* background-color: #4f8a8b; */
  border-color: #4f8a8b;
}

label>input[type="radio"]:checked+* {
  /* color: teal; */
  color: #4f8a8b;
}

label {
  /* margin: 10px; */
  /* width: 50%; */
}

.check1 {
  width: 40%;
  display: inline;
  font-size: 16pt;
}

.check2 {
  width: 40%;
  display: inline;
  margin: 0 0 0 30px;
  font-size: 16pt;
}

#joke {
  margin: 0 15px;
  font-size: 15pt;
}

.footer {
  text-align: center;
  /* font-family: "Open Sans Light", sans-serif; */
  font-size: 18pt;
}

a {
  color: unset;
  text-decoration: none;
}

/*
@media (min-width: 640px) {
  body {
    font-size: 28pt;
  }
} */